	
1. 	Създаване на интерфейс за подаване на 	вот от страна на гласоподавателя и 	осигуряване на достъп до този интерфейс.
 	- логин страница
 	-
 	-
 	-
 	-
 	-

2.	Осигуряване на възможност за разглеждане 	на информация за кандидатите за 	съответния вид избори.
 	
3.	Реализиране на функционалност за 	качване на листи с кандидати, за които 	гласоподавателите ще гласуват.
 	
4.	Възможност за обобщаване на резултатите 	от гласуването, на базата на различни 	критерии.
 	
5.	Генериране на финални доклади с обобщени 	данни от гражданския вот, които могат 	да бъдат сортирани и филтрирани.
 	
6.	Създаване на модул осигуряващ протичането 	на процеса на избор на кандидатите в 	изборните листи.



