body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #a1d1fa;
  perspective: 1000px;
  transform-style: preserve-3d;
}
body:before, body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #352a1c;
}
body:before {
  box-shadow: inset 0px 10px 150px #241d13;
}
body:after {
  bottom: auto;
  top: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, transparent 100%);
}
body .ballotwrap {
  position: absolute;
  width: 300px;
  height: calc(50% - 85px);
  overflow: hidden;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
}
body .ballotwrap .ballot {
  position: absolute;
  width: 200px;
  height: 300px;
  text-align: center;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: -300px;
  transition: 1s ease-out;
}
body .ballotwrap .ballot:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: #ce0010;
}
body .ballotwrap .ballot h1 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background: #085394;
  margin-top: 0px;
  padding: 0.5em 0;
  letter-spacing: 0.25em;
}
body .ballotwrap .ballot span {
  display: block;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  color: #231f20;
  font-family: "Dosis";
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .ballotwrap .ballot i {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-top: 2.5px;
}
body .container {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1000px;
  transform: translateX(-50%) translateY(-50%);
}
body .container #cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
  box-shadow: 0px 150px 150px 20px rgba(0, 0, 0, 0.5);
}
body .container #cube .front {
  transform: rotateY(0deg) translateZ(200px) translateX(-2px);
  background: #b0926d;
  width: 400px;
}
body .container #cube .front .eye {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #352a1c;
  left: 20%;
  top: 20%;
  border-radius: 100%;
}
body .container #cube .front .eye:nth-of-type(2) {
  left: auto;
  right: 20%;
}
body .container #cube .front .mouth {
  position: absolute;
  width: 100px;
  height: 20px;
  background: #352a1c;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  border-radius: 40px 40px 40px 40px;
  transition-delay: 1s;
  transition: 0.2s ease-in-out;
}
body .container #cube .back {
  transform: rotateX(180deg) translateZ(180px);
  background: #775e40;
}
body .container #cube .right {
  transform: rotateY(90deg) translateZ(200px);
  background: #876b49;
}
body .container #cube .left {
  transform: rotateY(-90deg) translateZ(200px);
  background: #876b49;
}
body .container #cube .top {
  transform: rotateX(90deg) translateZ(100px) translateY(222.5px) translateX(23px);
  background: #a7865c;
  height: 140px;
  width: 350px;
}
body .container #cube .top2 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(15px);
  background: #a7865c;
  height: 160px;
  width: 366px;
}
body .container #cube .top3, body .container #cube .top4 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(2px);
  background: #a7865c;
  height: 190px;
  width: 70px;
}
body .container #cube .top4 {
  transform: rotateX(90deg) translateZ(100px) translateY(-23px) translateX(323px);
}
body .container #cube figure {
  margin: 0;
  width: 396px;
  height: 196px;
  display: block;
  position: absolute;
  z-index: 3;
}
body .container #cube figure div {
  z-index: 3;
}
body .container #cube figure h1 {
  font-size: 5em;
  font-family: "Oswald", sans-serif;
  color: #b0926d;
  letter-spacing: 0.25em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 7.5px;
  transform: translateX(-50%) translateY(-100%);
}
body.wink .murica {
  transition: 0.3s ease-in-out;
  transition-delay: 1s;
  opacity: 1;
}
body.wink .ballotwrap .ballot {
  animation: drop 1s ease-in-out forwards;
}
@keyframes drop {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  100% {
    transform: translateX(-50%) translateY(275%);
  }
}
body.wink .container #cube .front .mouth {
  transition-delay: 0.8s;
  height: 60px;
  border-radius: 10px 10px 50px 50px;
}
body.wink .container #cube .front .eye:nth-of-type(1) {
  animation: wink 0.3s ease-in-out 1;
  animation-delay: 1.2s;
}
@keyframes wink {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.2) scaleX(1.4);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
body #grad {
  position: relative;
  width: 100%;
  height: 100%;
}
body #grad:after, body #grad:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, black 50%, black), linear-gradient(82deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(67deg, transparent 50%, #000000 50%, #000000), linear-gradient(52deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(37deg, transparent 50%, #000000 50%, #000000), linear-gradient(22deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(7deg, transparent 50%, #000000 50%, #000000), linear-gradient(-8deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-23deg, transparent 50%, #000000 50%, #000000), linear-gradient(-38deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-53deg, transparent 50%, #000000 50%, #000000), linear-gradient(-68deg, transparent 50%, #12E0DB 50%, #12E0DB), linear-gradient(-83deg, transparent 50%, #000000 50%, #000000), linear-gradient(-90deg, transparent 50%, #12E0DB 50%, #12E0DB);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
}
body :before {
  left: 50%;
  transform: rotate(180deg);
}
body .murica {
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 150vw;
  height: 150vw;
  z-index: -1;
  left: 50%;
  top: 50%;
  animation: rotating 20s linear infinite;
}
@keyframes rotating {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
body .murica:after, body .murica:before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(82deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(67deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(52deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(37deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(22deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(7deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-8deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-23deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-38deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-53deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-68deg, transparent 50%, #ffffff 50%, #ffffff), linear-gradient(-83deg, transparent 50%, #ce0010 50%, #ce0010), linear-gradient(-90deg, transparent 50%, #ffffff 50%, #ffffff);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
  box-shadow: inset -5px 0px #ffffff, inset 5px 0px #ffffff;
}
body .murica:before {
  left: 50%;
  transform: rotate(180deg);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}