<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="owner-title">
    <h1 th:text="${'Партии.'}"></h1>
    <table>
        <thead>
        <tr>
            <th th:text="${'Name'}"></th>
            <!--<th th:text="${'Party'}"></th>-->
            <th th:text="${'Number'}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="party: ${parties}">
            <td th:text="${party.name}"></td>
            <!--<td th:text="${candidate.party}"></td>-->
            <td th:text="${party.number}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</html>
